@import "tailwindcss";

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.147 0.004 49.25);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.147 0.004 49.25);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.147 0.004 49.25);
  --primary: oklch(0.216 0.006 56.043);
  --primary-foreground: oklch(0.985 0.001 106.423);
  --secondary: oklch(0.97 0.001 106.424);
  --secondary-foreground: oklch(0.216 0.006 56.043);
  --muted: oklch(0.97 0.001 106.424);
  --muted-foreground: oklch(0.553 0.013 58.071);
  --accent: oklch(0.97 0.001 106.424);
  --accent-foreground: oklch(0.216 0.006 56.043);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --border: oklch(0.923 0.003 48.717);
  --input: oklch(0.923 0.003 48.717);
  --ring: oklch(0.709 0.01 56.259);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0.001 106.423);
  --sidebar-foreground: oklch(0.147 0.004 49.25);
  --sidebar-primary: oklch(0.216 0.006 56.043);
  --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
  --sidebar-accent: oklch(0.97 0.001 106.424);
  --sidebar-accent-foreground: oklch(0.216 0.006 56.043);
  --sidebar-border: oklch(0.923 0.003 48.717);
  --sidebar-ring: oklch(0.709 0.01 56.259);

  /* Formula: clamp(min, preferred, max) */
  --fs-xs: clamp(0.38rem, 0.05vw + 0.35rem, 0.4rem);   /* base / 1.618 / 1.618 */
  --fs-sm: clamp(0.62rem, 0.1vw + 0.6rem, 0.65rem);    /* base / 1.618 */
  --fs-base: clamp(1rem, 0.34vw + 0.91rem, 1.13rem);   /* Titik acuan (tetap) */
  --fs-lg: clamp(1.62rem, 1.2vw + 1.3rem, 1.83rem);    /* base * 1.618 */
  --fs-xl: clamp(2.62rem, 2.5vw + 2rem, 3.25rem);      /* lg * 1.618 */
  --fs-2xl: clamp(4.24rem, 5vw + 3rem, 5.26rem);
  --fs-3xl: clamp(6.86rem, 8vw + 4rem, 8.51rem);
  --fs-4xl: clamp(11.10rem, 12vw + 6rem, 13.77rem);
  --fs-5xl: clamp(17.96rem, 18vw + 10rem, 22.28rem);
}

[data-theme='dark'] {
  --background: oklch(0.147 0.004 49.25);
      --foreground: oklch(0.985 0.001 106.423);
      --card: oklch(0.216 0.006 56.043);
      --card-foreground: oklch(0.985 0.001 106.423);
      --popover: oklch(0.216 0.006 56.043);
      --popover-foreground: oklch(0.985 0.001 106.423);
      --primary: oklch(0.923 0.003 48.717);
      --primary-foreground: oklch(0.216 0.006 56.043);
      --secondary: oklch(0.268 0.007 34.298);
      --secondary-foreground: oklch(0.985 0.001 106.423);
      --muted: oklch(0.268 0.007 34.298);
      --muted-foreground: oklch(0.709 0.01 56.259);
      --accent: oklch(0.268 0.007 34.298);
      --accent-foreground: oklch(0.985 0.001 106.423);
      --destructive: oklch(0.704 0.191 22.216);
      --destructive-foreground: oklch(0.985 0 0);
      --border: oklch(1 0 0 / 10%);
      --input: oklch(1 0 0 / 15%);
      --ring: oklch(0.553 0.013 58.071);
      --chart-1: oklch(0.488 0.243 264.376);
      --chart-2: oklch(0.696 0.17 162.48);
      --chart-3: oklch(0.769 0.188 70.08);
      --chart-4: oklch(0.627 0.265 303.9);
      --chart-5: oklch(0.645 0.246 16.439);
      --sidebar: oklch(0.216 0.006 56.043);
      --sidebar-foreground: oklch(0.985 0.001 106.423);
      --sidebar-primary: oklch(0.488 0.243 264.376);
      --sidebar-primary-foreground: oklch(0.985 0.001 106.423);
      --sidebar-accent: oklch(0.268 0.007 34.298);
      --sidebar-accent-foreground: oklch(0.985 0.001 106.423);
      --sidebar-border: oklch(1 0 0 / 10%);
      --sidebar-ring: oklch(0.553 0.013 58.071);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-md: var(--radius);

  --text-xs: var(--fs-xs);
  --text-sm: var(--fs-sm);
  --text-base: var(--fs-base);
  --text-lg: var(--fs-lg);
  --text-xl: var(--fs-xl);
  --text-2xl: var(--fs-2xl);
  --text-3xl: var(--fs-3xl);
  --text-4xl: var(--fs-4xl);
  --text-5xl: var(--fs-5xl);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, sans-serif;

  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}
